html, body {
  margin: 0;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
}

/* Background */
.bg_heart {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/51/d8/37/51d8374126446d495348b6032202126f.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* Center everything */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content box */
.container {
  text-align: center;
  color: white;
  max-width: 900px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
  border-radius: 30px;
}

/* Hearts */
.heart {
  position: absolute;
  top: -50px;
  transform: rotate(-45deg);
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

.heart:before {
  top: -50%;
}

.heart:after {
  left: 50%;
}

/* Animation */
@keyframes love {
  from { top: 110%; }
  to { top: -10%; }
}

/* Button */
button {
  margin-top: 40px;
 background: linear-gradient( 100deg, #f098ce00, rgba(248, 99, 134, 0), rgba(224, 224, 224, 0) ); backdrop-filter: blur(1px);
  border-radius: 40px;
  width: 300px;
  height: 70px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  background: linear-gradient(30deg, #f700ff, #ff6f91);
}

/* Link */
a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 70px;
}
